.about {

    margin-top:-40px;

    @include table {
        margin-top:0px;
    }

    @include mobile {
        margin-top:0px;
    }

    .slide-container {
        height: 450px;
        width: 100%;

        @include table {
            height:300px;
        }
    
        div {
            height: 100%;
            background-size: contain;
        }
    
    }

    &__container {

        margin-top:30px;

        h1 {
            margin-top:10px;
            margin-bottom:40px;
            font-size:2rem;
            text-align: center;
            color:  rgb(110 169 252);
        }

        h1:first-child {
            font-size:2.5rem;
            font-weight: 600;
            margin-bottom:20px;
            color: rgb(51, 124, 226);
        }

        &__grid {
            margin-bottom: 40px;
        }

        &__info {
            border: 3px dashed rgb(165, 161, 161);
            padding:10px;

            h2 {
                color: rgb(58, 121, 210);
                font-weight: 600;
                margin-bottom:10px;
            }

            p {
                color: #8d8d8d;
                font-size:1.2rem;
                line-height: 2rem;
            }
        }

        &__forpeople {
            margin-top:90px;
            text-align:center;

            h3 {
                margin: 15px;
                font-size: 1.5rem;
                color:rgb(58, 121, 210);
            }

            p{
                color: #8d8d8d;
                font-size:1.2rem;
            }
        }

        &__about-grid {
            margin-bottom:70px;
        }
    }
}

