.header {
    background-color: $main-bg;
    position:fixed;
    display:flex;
    font-family: cursive,sans-serif;
    align-items:center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    

    .container {
        height: $header-height;
        padding: 0;
        justify-content:center;
        box-shadow: $box-shadow;

        .bx-search {
            cursor: pointer;
        }
    }

    &.shrink {
        height: $header-shrink-height;
        box-shadow: $box-shadow;
        z-index: 100;

        @include mobile {
            height: $header-mobile-height;
        }
    }

    //định dạng cho logo
    &__logo {
        @include flex(center, center);
        position: absolute;
        inset:0;
        pointer-events: none;


        img {
            line-height: 100%;
            height: $header-height;

            @include mobile {
                height:calc($header-height - 10px);
                width: 85%;
                object-fit: cover;
            }
        }

       
    }

    &__menu {
        @include flex(center, space-between);
        height:100%;
        font-size: 1.6rem;
        padding: 0 50px;

        @include table {
            padding: 0 5px;
        }


        &__item ~ &__item, &__item {
            margin-left:40px;

            @include table {
                margin-left: 5px;
                font-size:2.5rem;
            }

            @include mobile {
                .bx-search {
                    display:none;
                }
            }
        }

        &__item.active {
           
            font-weight: 600;
            color: $main-color;
        }

        &__item:hover {
            color: $main-color;
        }

        &__left, &__right {
            @include flex(center,center)
        }

        &__right {
            font-size: 2.25 rem;
            

            &__item {
                @include flex(center,center);

                @include table {
                    padding: 0 10px;
                    font-size: 2.5rem;
                }

                &__total-product {
                    color:white;
                    background-color:red;
                    font-size:14px;
                    padding: 0 5px;
                    border-radius:50%;
                    position: absolute;
                    margin-left: -8px;
                    z-index: 1;
                }

            }

            &__item ~ &__item ~ &__item {
                margin-right: 40px;
            }

            @include mobile {
                font-size: 1rem;

               &__item ~ &__item ~ &__item {
                    margin-right:5px;   
                }
            }
        }


        &__left {
            &__close {
                display: none;
            }

            @include table {
                flex-direction: column;
                background-color: $main-bg;
                position:absolute;
                left:0;
                top:0;
                width:70%;
                height:100vh;
                justify-content: flex-start;
                padding-top: 30px;
                transform: translateX(-100%);
                transition: transform 0.5s ease;

                &.active {
                    transform: translateX(0);
                    box-shadow: $box-shadow;
                }

                &__item ~ &__item, &__item {
                    width: 100%;
                    padding:2px 20px;
                    border-bottom: 1px solid #333;
                    margin-left: unset;
                    margin-top:20px;

                    a {
                        padding-right: 80%;
                    }
                }

    

                &__close {
                    width: 100%;
                    display:block;
                    position:relative;
                    font-size: 2.5rem;

                    i {
                        cursor: pointer;
                        padding:10px 20px;
                        float: right;
                    }

                    i:hover {
                        color: red;
                    }
                }
            }  

            
        }
        //ẩn chevron left
        .header__menu__mobile__close{
            display: none;
        }

        // Responsive trang web
        @include table {
            box-shadow: $box-shadow;

        }
    

        &__mobile__toggle {
            display: none;
            i {
                cursor: pointer;
            }

            @include table {
                display: block;
                font-size: 2.5rem;
            }
        }   
    }
    #toggle-search {
        position: absolute;
        right: 250px;

        @include table {
            display: none;
        }
        .toggle-search-input {
          max-width: 1440px;
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom:20px;
          position:sticky;
          input {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
            padding:5px 0px;
            outline: none;
            font-family: cursive, sans-serif;
          }
          ::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            opacity: 1;
            font-family: cursive, sans-serif;
          }
        }
      }
}
