.policy {
    h1 {
        text-align: center;
        font-size: 32px;
        color: #4267b2;
    }

    .description {
        h2 {
            margin-top: 30px;
            margin-bottom:10px;
            font-size:24px;
            color:rgb(237, 53, 75);
            text-transform: uppercase;
        }

        .title-desc {
            margin-top:30px;
            font-size:20px;
            text-transform:uppercase;
        }

        p {
            font-size:16px;
            margin:10px 0;
        }
    }

    @include table {
        margin-top:80px;
    }
}